<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="64f2d9cf-eb5e-4595-9a1a-4f2eedbc083d" Publisher="CN=Intel" Version="1.2.419.0" />
  <Properties>
    <DisplayName>Intel Media For Mobile</DisplayName>
    <PublisherDisplayName>Intel</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Samples.App">
      <m2:VisualElements DisplayName="Intel Media For Mobile" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Intel Media For Mobile Samples" ForegroundText="light" BackgroundColor="#0071C5" ToastCapable="true">
        <m2:DefaultTile Square70x70Logo="Assets\Square70x70Logo.png" DefaultSize="square150x150Logo">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#0071C5" />
        <m2:ApplicationView MinWidth="width500" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="picturesLibrary" />
    <Capability Name="videosLibrary" />
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>
